
<h1>Home, <%= current_present? ? current_user.email : 'Stranger' %></h1>

<%
=begin%>
 <h1>Home, <%= current_user.email %></h1> 
<% name = current_user.present? ? current_user.email : 'Stranger' %>
<%
=end%>


<p>Find me in app/views/home/index.html.erb</p>
